node_modules
.DS_Store
*.local

# Ignore heavy duplicate images in root assets and dist folders
assets/*.jpeg
assets/*.jpg
assets/*.png
assets/*.webp
assets/*.gif
dist/assets/*.jpeg
dist/assets/*.jpg
dist/assets/*.png
dist/assets/*.webp
dist/assets/*.gif
